In [3]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import google_api_key

In [4]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Lobito,-12.3481,13.5456,70.88,87,92,7.67,AO,2022-10-06 02:05:25
1,1,Namibe,-15.1961,12.1522,62.01,90,50,7.61,AO,2022-10-06 02:05:25
2,2,Saint George,37.1041,-113.5841,82.94,22,0,3.44,US,2022-10-06 02:05:22
3,3,Jamestown,42.0970,-79.2353,55.04,68,0,1.01,US,2022-10-06 02:05:06
4,4,Norman Wells,65.2820,-126.8329,41.25,78,100,7.31,CA,2022-10-06 02:04:14

In [5]:
# Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [7]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=google_api_key)

In [27]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [35]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [36]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [37]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
# Heatmap of percent Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [39]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [40]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Saint George,37.1041,-113.5841,82.94,22,0,3.44,US,2022-10-06 02:05:22
19,19,Avarua,-21.2078,-159.7750,78.85,65,20,18.41,CK,2022-10-06 02:04:06
26,26,Butaritari,3.0707,172.7902,82.31,72,8,13.71,KI,2022-10-06 02:04:08
39,39,Vanimo,-2.6741,141.3028,85.84,68,85,9.91,PG,2022-10-06 02:05:35
41,41,Bengkulu,-3.8004,102.2655,81.46,68,23,1.19,ID,2022-10-06 02:04:09
45,45,Vaini,-21.2000,-175.2000,76.60,83,100,8.68,TO,2022-10-06 02:04:08
47,47,Victoria,22.2855,114.1577,87.85,70,51,11.01,HK,2022-10-06 02:05:37
49,49,Vila Velha,-20.3297,-40.2925,75.15,88,100,5.75,BR,2022-10-06 02:05:27
53,53,San Andres,12.5847,-81.7006,84.22,79,75,8.05,CO,2022-10-06 02:05:13
64,64,Chenghai,23.4632,116.7680,83.82,59,1,9.15,CN,2022-10-06 02:06:40

In [41]:
preferred_cities_df.count()

City_ID       170
City          170
Lat           170
Lng           170
Max Temp      170
Humidity      170
Cloudiness    170
Wind Speed    170
Country       170
Date          170
dtype: int64

In [42]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   Saint George      US     82.94  37.1041 -113.5841
19        Avarua      CK     78.85 -21.2078 -159.7750
26    Butaritari      KI     82.31   3.0707  172.7902
39        Vanimo      PG     85.84  -2.6741  141.3028
41      Bengkulu      ID     81.46  -3.8004  102.2655
45         Vaini      TO     76.60 -21.2000 -175.2000
47      Victoria      HK     87.85  22.2855  114.1577
49    Vila Velha      BR     75.15 -20.3297  -40.2925
53    San Andres      CO     84.22  12.5847  -81.7006
64      Chenghai      CN     83.82  23.4632  116.7680

In [44]:
import config

# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": google_api_key
}

In [45]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
2   Saint George      US     82.94  37.1041 -113.5841
19        Avarua      CK     78.85 -21.2078 -159.7750
26    Butaritari      KI     82.31   3.0707  172.7902
39        Vanimo      PG     85.84  -2.6741  141.3028
41      Bengkulu      ID     81.46  -3.8004  102.2655
45         Vaini      TO     76.60 -21.2000 -175.2000
47      Victoria      HK     87.85  22.2855  114.1577
49    Vila Velha      BR     75.15 -20.3297  -40.2925
53    San Andres      CO     84.22  12.5847  -81.7006
64      Chenghai      CN     83.82  23.4632  116.7680

In [51]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
   # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [56]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Saint George,US,82.94,37.1041,-113.5841,Best Western Plus Abbey Inn
19,Avarua,CK,78.85,-21.2078,-159.7750,Paradise Inn
26,Butaritari,KI,82.31,3.0707,172.7902,Isles Sunset Lodge
39,Vanimo,PG,85.84,-2.6741,141.3028,Vahmoneh Lodge Vanimo
41,Bengkulu,ID,81.46,-3.8004,102.2655,Grage Hotel Bengkulu
45,Vaini,TO,76.60,-21.2000,-175.2000,Keleti Beach Resort
47,Victoria,HK,87.85,22.2855,114.1577,Mini Central
49,Vila Velha,BR,75.15,-20.3297,-40.2925,Hotel Vitória Palace
53,San Andres,CO,84.22,12.5847,-81.7006,Hotel Arena Blanca
64,Chenghai,CN,83.82,23.4632,116.7680,Guangdong Hotel

In [68]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [70]:
import collections
collections.Iterable = collections.abc.Iterable
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [72]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [73]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))